html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}
canvas {
  display: block;
}

.bottom-menu {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 50px;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  align-items: center;
  line-height: 50px;
  text-align: center;

}

